/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "_reset";
@import "mixins";

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 100%;
}

.wrapper {
  height: 100%;
  min-width: 360px;
}

.page {
  height: 100%;
  overflow: hidden;

 &-signin {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  background: url(../img/background_one.png) no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  &-signup {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  background: url(../img/background_two.png) no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  &-inner {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  }
}

.logo {
  min-width: 320px;
  width: 42.6%;
  margin: 0 auto;

}

.input {
  text-align: center;
  &-title {
    @include font-size(28px);
    color: #a2a1b8;
  }
  &-signin-password {
    display: block;
  }
  &-title-signup {
    display: block;
  }
}

.field-input {
  height: (30px/1334px)*100%;
  width: (425px/750px)*100%;
  padding: (5px/1334px)*100% (5px/1334px)*100%;
  border: none;
  background: transparent;
  @include font-size(28px);
  color: #fff;
}

.button {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 0px;
  border-radius: 40px;
  background-color: red;
  @include font-size(28px);
  color: #fff;

  &-next {
    margin-top: 1%;
  }
}
.input-text {
  @include font-size(28px);
  color: #a2a1b8;

  &-link {
  @include font-size(28px);
  text-decoration: none;
  color: #fff;
  }
}
.title-signup {
  text-align: center;
  @include font-size(44px);
  color: #fff;
}
.input-signup {
  padding-top: 10%;
  text-align: center;
}