/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "_reset";
@import "mixins";

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 100%;
}

.wrapper {
  height: 100%;
}

.page {
  height: 100%;
  overflow: hidden;

&-conteiner{
  height: 100%;
  overflow: hidden;
}
  &-signin {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    background: url(../img/background_one.png) no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  &-signup {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    background: url(../img/background_two.png) no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  &-signup-two {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    background: url(../img/background_three.png) no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  &-inner {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  }
}
.signup-two-text {
  max-width: 480px;
  margin: auto;
  @include font-size(24px);
  color: #a2a1b8;
}
.logo {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  &-two {
  max-width: 400px;
  }
}

.input {
  text-align: center;
  &-title {
    @include font-size(28px);
    color: #a2a1b8;
  }
  &-signin-password {
    display: block;
  }
  &-title-signup {
    display: block;
    line-height: 1.3rem;
  }
}

.field-input {
   display: none;
   height: (30px/1334px)*100%;
   width: (425px/750px)*100%;
   padding: (5px/1334px)*100% (5px/1334px)*100%;
   border: 0;
   background: transparent;
   @include font-size(28px);
   color: #fff;
}
.input-title:hover .field-input {
  display: block;
  margin: 0 auto;
}

.button {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 0;
  border-radius: 40px;
  background-color: red;
  @include font-size(28px);
  color: #fff;

  &-next {
    display: block;
    text-decoration: none;
    font-family: Arial;
    padding-top: 1%;
    padding-bottom: 1.5%;
  }
}
.input-text {
  @include font-size(28px);
  color: #a2a1b8;

  &-link {
  @include font-size(28px);
  text-decoration: none;
  color: #fff;
  }
}
.title-signup {
  text-align: center;
  @include font-size(44px);
  color: #fff;
}
.input-signup {
  padding-top: 10%;
  text-align: center;
}

