/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*css reset*/
html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 100%;
}

.wrapper {
  height: 100%;
}

.pages {
  height: 100%;
  overflow: hidden;
}

.page {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
}
.page-signin {
  background: url(../img/background_one.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.page-signup {
  display: none;
  background: url(../img/background_two.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.page-signup-two {
  display: none;
  background: url(../img/background_three.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.page-inner {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

.signup-two-text {
  max-width: 480px;
  margin: auto;
  font-size: 1.5rem;
  color: #a2a1b8;
}

.logo {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 320px;
}
.logo-two {
  max-width: 400px;
  padding-top: 2rem;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -11.25em;
  margin-top: 3em;
  text-align: center;
}

.input-title {
  font-size: 1.75rem;
  color: #a2a1b8;
  display: block;
  margin-top: 1em;
}

.field-input {
  display: none;
  height: 2.24888%;
  width: 56.66667%;
  padding: 0.37481% 0.37481%;
  border: 0;
  background: transparent;
  font-size: 1.75rem;
  color: #fff;
}

.input-title:hover .field-input {
  display: block;
  margin: 0 auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.button {
  margin-top: 0.5em;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 0;
  border-radius: 40px;
  background-color: red;
  font-size: 1.75rem;
  color: #fff;
}
.button-next {
  margin-top: 6em;
  display: block;
  text-decoration: none;
  font-family: Arial;
  padding-top: 1%;
  padding-bottom: 1.5%;
}

.input-text {
  font-size: 1.75rem;
  color: #a2a1b8;
}
.input-text-link {
  font-size: 1.75rem;
  text-decoration: none;
  color: #fff;
}

.title-signup {
  padding-top: 2em;
  text-align: center;
  font-size: 2.75rem;
  color: #fff;
}

.input-signup {
  padding-top: 10%;
  text-align: center;
}
