/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*css reset*/
/* line 2, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 23, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 30, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 33, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 36, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 41, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*css reset*/
/* line 9, ../sass/style.scss */
html {
  height: 100%;
}

/* line 13, ../sass/style.scss */
body {
  height: 100%;
  font-size: 100%;
}

/* line 18, ../sass/style.scss */
.wrapper {
  height: 100%;
}

/* line 22, ../sass/style.scss */
.page {
  height: 100%;
  overflow: hidden;
}
/* line 26, ../sass/style.scss */
.page-conteiner {
  height: 100%;
  overflow: hidden;
}
/* line 30, ../sass/style.scss */
.page-signin {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  background: url(../img/background_one.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 41, ../sass/style.scss */
.page-signup {
  display: none;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  background: url(../img/background_two.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 52, ../sass/style.scss */
.page-signup-two {
  display: none;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  background: url(../img/background_three.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 63, ../sass/style.scss */
.page-inner {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
}

/* line 69, ../sass/style.scss */
.signup-two-text {
  max-width: 480px;
  margin: auto;
  font-size: 1.5rem;
  color: #a2a1b8;
}

/* line 75, ../sass/style.scss */
.logo {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}
/* line 79, ../sass/style.scss */
.logo-two {
  max-width: 400px;
}

/* line 84, ../sass/style.scss */
.input {
  text-align: center;
}
/* line 86, ../sass/style.scss */
.input-title {
  font-size: 1.75rem;
  color: #a2a1b8;
}
/* line 90, ../sass/style.scss */
.input-signin-password {
  display: block;
}
/* line 93, ../sass/style.scss */
.input-title-signup {
  display: block;
  line-height: 1.3rem;
}

/* line 99, ../sass/style.scss */
.field-input {
  display: none;
  height: 2.24888%;
  width: 56.66667%;
  padding: 0.37481% 0.37481%;
  border: 0;
  background: transparent;
  font-size: 1.75rem;
  color: #fff;
}

/* line 109, ../sass/style.scss */
.input-title:hover .field-input {
  display: block;
  margin: 0 auto;
}

/* line 114, ../sass/style.scss */
.button {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 0;
  border-radius: 40px;
  background-color: red;
  font-size: 1.75rem;
  color: #fff;
}
/* line 124, ../sass/style.scss */
.button-next {
  display: block;
  text-decoration: none;
  font-family: Arial;
  padding-top: 1%;
  padding-bottom: 1.5%;
}

/* line 132, ../sass/style.scss */
.input-text {
  font-size: 1.75rem;
  color: #a2a1b8;
}
/* line 136, ../sass/style.scss */
.input-text-link {
  font-size: 1.75rem;
  text-decoration: none;
  color: #fff;
}

/* line 142, ../sass/style.scss */
.title-signup {
  text-align: center;
  font-size: 2.75rem;
  color: #fff;
}

/* line 147, ../sass/style.scss */
.input-signup {
  padding-top: 10%;
  text-align: center;
}
